body {
    background: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.assignment {
    background: burlywood;
    display: flex;
    padding: 10px;
    margin: 10px;
}

.assignment img{
    width: 225px;
    padding-right: 10px;
}

h1 {
    color: darksalmon;
    text-align: center;
}